<br>
<div class="container">

  <h1>Shopping Cart</h1>
  <br>

  <ul>
    <% @current_cart.line_items.each do |line_item| %>
     <li class= "lineItemStyling">
        <div>
        Item: <%= line_item.song.name %>
        </div>
        <div>
        Price: <%= number_to_currency(line_item.song.price) %>
        </div>
        <%= link_to "Remove", line_item_path(line_item), method: :delete %>
        </li>
    <% end %>

  </ul>

  <br>

  <h3>Total: <%= number_to_currency(@current_cart.sub_total) %></h3>

  <br>

  <div class="container-flex">
    <div class="formlinks">
      <%= link_to "Proceed to checkout", new_order_path %>
      <%= link_to "Empty cart", shopping_cart_path(@current_cart),method: :delete, data: {confirm: "Are you sure?"} %>
    </div>
  </div>
</div>

<%= form_tag orders_path do %>
  <%= hidden_field_tag 'current_cart', @current_cart %>
<% end %>