

  <div class="row">

    <div class="col-3">
      <div class="indexSearch">
        <%= form_tag songs_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search da songs, using name of song, artists' name, genre or combos partials allowed "
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
        <%= link_to "new song", new_song_path %>
    </div>


    <div class="col-9">

      <div class="d-flex">
          <% @songs.each do |song| %>
          <div class="card"  >
            <h4> <%= song.name  %>  </h4>
            <%= song.genre.genre %>
            <% if song.dollar == true  %>
              <p>  Purchase $<%=song.price  %>
            <%  else  %>
              <p> Royalty: <%=  song.price  %>%  </p>
            <% end %>
            <p>Uploaded by: <%= song.user.first_name   %> <%= song.user.last_name %> </p>

            <%#link_to ??no_cart_route_as_yet do %>
              <!-- <i class="fas fa-shopping-cart"></i> -->
            <%# end  %>
            <% if song.audio.key.nil? == false  %>
                <%= cl_video_tag song.audio.key, controls: true, style: "width: 100%; height:35px; " %>
            <% end %>

            <%= link_to "Edit", edit_song_path(song) %> |
            <%= link_to "Delete", song_path(song), method: :delete, data: {confirm: "Are you sure?"} %>
            <%= button_to "Add #{song.name} to cart", line_items_path(:song_id => song.id) %>
            <% end %>
          </div>
      </div>
    </div>

  </div>

