

  <div class="row">

    <div class="col-2 sidebar">
      <div class="indexSearch">

        <%= form_tag songs_path, method: :get do %>
        <%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1615460756/untitled_13_vljnyl.svg", class: "magnifyicon" %>
          <%= text_field_tag :query, params[:query], class: "form-control", id: "searchBar", placeholder: "Search da songs"%>
          <%# submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>

    </div>




     <div class="col-10 songCol">

      <table class="table table-dark table-striped">
        <thead>
          <tr>

<<<<<<< HEAD
    <% if song.audio.key.nil? == false  %>
      <%= cl_video_tag song.audio.key, controls: true, style: "width: 100%; height:35px; " %>
     <%=   cl_image_tag(song.audio.key, :height=>200, :width=>500, :flags=>"waveform", :color=>"black", :background=>"white", :resource_type=>"video") %>
    <% end %>
 
    <%= link_to "Edit", edit_song_path(song) %> |
    <%= link_to "Delete", song_path(song), method: :delete, data: {confirm: "Are you sure?"} %>
    <%= button_to "Add #{song.name} to cart", line_items_path(:song_id => song.id) %>
 

=======
            <th scope="col"></th>
>>>>>>> master

            <th scope="col">Name</th>

            <th scope="col">Uploader</th>

            <th scope="col">Genres</th>

            <th scope="col">Price</th>

            <th scope="col"></th>

          </tr>
        </thead>

        <tbody>


          <% @songs.each do |song| %>

          <tr class=indextableRow>

            <!-- <th scope="row">1</th> -->
               <td>

                <% if song.user.photo.key.nil? == false %>
                  <%= cl_image_tag song.user.photo.key, class: "songListImage"%>
                <% else %>
                  <%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1615276848/SSlogoDarkTrans_v7auwe.svg", class: "songListImage" %>
                <% end %>
              <%#cl_image_tag(song.user.photo.key) if song.user.photo.attached? %>
              </td>


              <!-- <th scope="row"></th> -->
              <td>
                <p> <%= song.name  %>  </p>
              </td>

              <!-- <th scope="row"></th> -->
              <td>
                <p><%= song.user.nickname%></p>
              </td>


              <!-- <th scope="row"></th> -->
              <td>
               <p> <%= song.genre.genre %></p>
              </td>

            <!-- <th scope="row"></th> -->
              <td>
              <% if song.dollar == true  %>
                <p>$<%=song.price%>
              <%  else  %>
                <p><%=song.price%>%</p>
              <% end %>
            </td>

            <!-- <th scope="row"></th> -->
              <td>
               <% if song.audio.key.nil? == false  %>
                <%= render "songs/video_control", song: song %>
              <% else %>
                <p>no audio</p>
              <% end %>
            </td>


            <!-- End links on row -->
              <td>





            <% if song.dollar == false %>
            <%= link_to "?",  new_song_booking_path(song), id: "enquire" %>
            <% end %>

            <% if song.dollar == true %>
            <%= link_to line_items_path(:song_id => song.id), method: :post do %>
              <%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1615423829/001-cart_cfrbrc.svg", width: 25, height: 25, alt: 'a face that is unnervingly happy'%>
            <% end %>
            <% end  %>
            <%= link_to "view", song_path(song.id), class: "viewSonglink" %>

            </td>

            </tr>

            <% end %>


          </tbody>
        </table>
      </div>





      <!-- </div> -->



  </div>


