

  <div class="row">

    <div class="col-3">
      <div class="indexSearch">
        <%= form_tag songs_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Search da songs"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
        <%= link_to "new song", new_song_path %>
    </div>


    <div class="col-9 songCol">

      <!-- <div class="d-flex"> -->

          <% @songs.each do |song| %>

          <div class="card cardItem">
            <div>

              <% if song.user.photo.key.nil? == false %>
                <%= cl_image_tag song.user.photo.key, class: "songListImage"%>
              <% else %>
                <%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1615276848/SSlogoDarkTrans_v7auwe.svg", class: "songListImage" %>
              <% end %>
              <%#cl_image_tag(song.user.photo.key) if song.user.photo.attached? %>
            </div>

            <div class="col-3 listItems">
              <h4> <%= song.name  %>  </h4>
            </div>

            <div class="col-2 listItems">
              <p><%= song.user.nickname%></p>
            </div>

            <div class="col-2 listItems">
              <%= song.genre.genre %>
            </div>

            <div class="col-2 listItems">
              <% if song.dollar == true  %>
                <p>$<%=song.price%>
              <%  else  %>
                <p><%=song.price%>%</p>
              <% end %>
            </div>

            <div class="col-2 listItems">
               <% if song.audio.key.nil? == false  %>
                <%= render "songs/video_control", song: song %>
              <% else %>
                <p>no audio</p>
              <% end %>
            </div>

            <%= link_to line_items_path(:song_id => song.id), method: :post do %>
              <%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1615423829/001-cart_cfrbrc.svg", width: 25, height: 25, alt: 'a face that is unnervingly happy'%>
            <% end %>
            <%= link_to "view", song_path(song.id) %>
            </div>
            <% end %>
      <!-- </div> -->


  </div>


