

  <div class="row">

    <div class="col-2 sidebar">
      <div class="indexSearch">

        <%= form_tag songs_path, method: :get do %>
        <%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1615460756/untitled_13_vljnyl.svg", class: "magnifyicon" %>
          <%= text_field_tag :query, params[:query], class: "form-control", id: "searchBar", placeholder: "Search da songs"%>
          <%# submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>

    </div>




     <div class="col-10 songCol">

      <table class="table table-dark table-striped">
        <thead>
          <tr>

            <th scope="col">Artist Activity Meter</th>

            <th scope="col">Song Name</th>

            <th scope="col">Artist Name</th>

            <th scope="col">Genres</th>

            <th scope="col">Price</th>

            <th scope="col"></th>

          </tr>
        </thead>

        <tbody>


          <% @songs.each do |song| %>
            <% if song.state == "available" %>
          <tr class=indextableRow>

            <!-- <th scope="row">1</th> -->
               <td>
                <div class="artistClass">
                  <% if song.user.photo.key.nil? == false %>
                    <%= cl_image_tag song.user.photo.key, class: "songListImage"%>
                  <% else %>
                    <%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1615276848/SSlogoDarkTrans_v7auwe.svg", class: "songListImage" %>
                  <% end %>
                <%#cl_image_tag(song.user.photo.key) if song.user.photo.attached? %>
                <div class="rateContainer">

                  <% case song.user.cred %>
                    <% when 0..10 %>
                      <%= cl_image_tag "dqsjezd716s3vqpysp1u", width: 35, height: 35, crop: :fill    %>  <!--min cred -->
                    <% when 10..100 %>
                       <%=  cl_image_tag "bi7cunh0wb8e37eonpuh", width: 35, height: 35, crop: :fill    %>  <!--2nd lvl cred  -->
                    <% when 100..500 %>
                      <%=  cl_image_tag "nwrmwv4pe75urersjexk", width: 35, height: 35, crop: :fill    %>  <!--3rd lvl cred  -->
                    <% when 500..1000 %>
                       <%=  cl_image_tag "lxglqrvux6hmfuigbwns", width: 35, height: 35, crop: :fill    %>  <!--4th lvl cred  -->
                    <% when 1000..100000 %>
                        <%=  cl_image_tag "ugwqufxkpjkg1gsbfc5g", width: 35, height: 35, crop: :fill    %>  <!--5th lvl cred  -->
                  <% end %>


                </div>
              </div>
              </td>


              <!-- <th scope="row"></th> -->
              <td>
                <p> <%= song.name  %>  </p>
              </td>

              <!-- <th scope="row"></th> -->
              <td>
                <p><%= song.user.nickname%></p>
              </td>


              <!-- <th scope="row"></th> -->
              <td>
               <p> <%= song.genre.genre %></p>
              </td>

            <!-- <th scope="row"></th> -->
              <td>
              <% if song.dollar == true  %>
                <p>$<%=song.price%>
              <%  else  %>
                <p><%=song.price%>%</p>
              <% end %>
            </td>

            <!-- <th scope="row"></th> -->
            <td class="tableLink">
              <% if song.audio.key.nil? == false  %>
                <%= render "songs/video_control", song: song %>
              <% else %>
                <p>no audio</p>
              <% end %>
            </td>


            <!-- End links on rows -->



            <td class="tableLink">
              <% if song.dollar == false %>
                <%= link_to "enquire",  new_song_booking_path(song), id: "enquire" %>
              <% end %>

              <% if song.dollar == true %>
                <%= link_to line_items_path(:song_id => song.id), method: :post do %>
                <%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1615423829/001-cart_cfrbrc.svg", width: 25, height: 25, alt: 'a face that is unnervingly happy'%>
                <% end %>
              <% end  %>

            </td>



            <td class="tableLink">
              <%= link_to "info", song_path(song.id), class: "viewSonglink" %>
            </td>

            <td class="tableLink">
            <% if current_user.favorited?(song) %>
              <% favorite = current_user.all_favorites.where(favoritable_id: song.id, favoritable_type: 'Song') %>
              <%= link_to unfavorite_song_path(song), method: :delete, class: "favButton" do %>
              <%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1615876602/heartfull_myjghr.svg", width: 20, height: 20%>
              <% end %>
            <% else %>
              <%= link_to favorite_song_path(song), method: :post, class: "favButton" do %>
             <%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1615876602/heartempty_pwwdxj.svg", width: 20, height: 20%>
            <% end %>
            <% end %>

            </td>

            </tr>

            <% end %>
            <% end %>

          </tbody>
        </table>
      </div>





      <!-- </div> -->



  </div>


