<h1>Song#new</h1>
<p>Find me in app/views/song/new.html.erb</p>

<p> Just checking Cloudinary is set up; don't forget it uses the publicID </p>
<%= cl_image_tag("vrm7g8j4a5jcxsxoaysn",
      width: 400, height: 300, crop: :fill) %>

<%#   cl_upload_tag(:audio, :resource_type => "video", 
  :eager => [{:streaming_profile => "full_hd", :format => "m3u8"}], 
  :eager_async => true, 
  :eager_notification_url => "https://mysite.example.com/notify_endpoint", 
  :html => {:id => "my_upload_tag"})  

   %>

<%= simple_form_for @song do |f|  %>
<%= f.input :name, label: "Name of song"   %>
<%= f.input :audio, as: :file %>
 <%#f.input :genre, collection: Genre.all, label_method: :genre, value_method: :id %>
 <%= f.association :genre, label_method: :genre %>
<%= f.submit  %>

<% end %>

<%#cl_video_tag "u3toxc9drfqclm8x2hpr", controls: true, style: "width: 50%; " %>



 <!-- Note: Use the video resource type for all video assets as well as for audio files, such as .mp3. -->