<div class="showSongContainer">
  <div class="row">


    <div class="col-5 songShowCol">

      <div class="showHeader">
        <h1><%= @song.name %></h1>
        <% if @song.audio.key.nil? == false  %>
            <%= render "songs/video_control", song: @song %>
        <% else %>
            <p>no audio</p>
        <% end %>

        <% if current_user.id == @song.user_id %>
          <%= link_to "edit", edit_song_path(@song), class: "btn btn-warning showEditBtn" %>
        <% end %>

        <% if @song.user != current_user %>
          <%= link_to "Haggle", chatrooms_path(chatroom: {user_id: @song.user_id}),  class: "btn btn-success showEditBtn", method: :post %>
        <% end %>
      </div>

      <p>
        Cost:
        <% if @song.dollar == true  %>
          $<%=@song.price  %>
        <%  else  %>
          <%=  @song.price  %>% Royalty split
        <% end %>
      </p>

      <div class="lyricsDiv">
        <p>Lyrics:</p>
        <br>
        <p> <%= @song.lyrics %></p>
      </div>


    </div>



    <!--     ARTIST DIV    -->



    <div class="col-6 artist_title songShowCol">

      <div class = "artistTitle">

          <div>
            <% if @song.user.photo.key.nil? == false %>
              <p>  <%=  cl_image_tag @song.user.photo.key, class: "showProfilePic", crop: :fill  %> </p>
            <% else %>
              <%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1615276848/SSlogoDarkTrans_v7auwe.svg", class: "songListImage" %>
            <% end %>
          </div>


          <div class ="user_desc">
            <div class="nicknameRate">
              <h1><%= @song.user.nickname %> </h1>

              <div class="rateContainer">
                <% case @song.user.cred %>
                  <% when 0..10 %>
                    <%= cl_image_tag "dqsjezd716s3vqpysp1u", class: "rate-flames rateSmall" %>  <!--min cred -->
                  <% when 10..100 %>
                    <%= cl_image_tag "dqsjezd716s3vqpysp1u", class: "rate-flames rateSmall" %>  <!--min cred -->
                    <%=  cl_image_tag "bi7cunh0wb8e37eonpuh", class: "rate-flames" %>  <!--2nd lvl cred  -->
                  <% when 100..500 %>
                    <%= cl_image_tag "dqsjezd716s3vqpysp1u", class: "rate-flames rateSmall" %>  <!--min cred -->
                    <%=  cl_image_tag "bi7cunh0wb8e37eonpuh", class: "rate-flames" %>  <!--2nd lvl cred  -->
                    <%=  cl_image_tag "nwrmwv4pe75urersjexk", class: "rate-flames" %>  <!--3rd lvl cred  -->
                  <% when 500..1000 %>
                    <%= cl_image_tag "dqsjezd716s3vqpysp1u", class: "rate-flames rateSmall" %>  <!--min cred -->
                    <%=  cl_image_tag "bi7cunh0wb8e37eonpuh", class: "rate-flames" %>  <!--2nd lvl cred  -->
                    <%=  cl_image_tag "nwrmwv4pe75urersjexk", class: "rate-flames" %>  <!--3rd lvl cred  -->
                    <%=  cl_image_tag "lxglqrvux6hmfuigbwns", class: "rate-flames" %>  <!--4th lvl cred  -->
                  <% when 1000..100000 %>
                    <%= cl_image_tag "dqsjezd716s3vqpysp1u", class: "rate-flames rateSmall" %>  <!--min cred -->
                    <%=  cl_image_tag "bi7cunh0wb8e37eonpuh", class: "rate-flames" %>  <!--2nd lvl cred  -->
                    <%=  cl_image_tag "nwrmwv4pe75urersjexk", class: "rate-flames" %>  <!--3rd lvl cred  -->
                    <%=  cl_image_tag "lxglqrvux6hmfuigbwns", class: "rate-flames" %>  <!--4th lvl cred  -->
                    <%=  cl_image_tag "ugwqufxkpjkg1gsbfc5g", class: "rate-flames rateLarge" %>  <!--5th lvl cred  -->
                <% end %>
              </div>
            </div>
            <p> <%= @song.user.description %> </p>
          </div>
      </div>

          <!-- <div class="songCol"> -->

              <table class="table table-dark table-striped">
                <thead>
                  <tr>

                    <th scope="col">Song Name</th>

                    <th scope="col">Genres</th>

                    <th scope="col">Price</th>

                    <th scope="col"></th>

                  </tr>
                </thead>

                <tbody>


                  <% @song.user.songs.each do |song| %>
                  <% if song.state == "available" %>
                  <tr class=indextableRow>

                    <!-- <th scope="row">1</th> -->



                      <!-- <th scope="row"></th> -->
                      <td>
                        <p> <%= song.name  %>  </p>
                      </td>

                      <!-- <th scope="row"></th> -->
                      <td>
                        <p><%= song.user.nickname%></p>
                      </td>


                      <!-- <th scope="row"></th> -->
                      <td>
                       <p> <%= song.genre.genre %></p>
                      </td>

                    <!-- <th scope="row"></th> -->
                      <td>
                      <% if song.dollar == true  %>
                        <p>$<%=song.price%>
                      <%  else  %>
                        <p><%=song.price%>%</p>
                      <% end %>
                    </td>

                    <!-- <th scope="row"></th> -->
                    <td class="tableLink">
                      <% if song.audio.key.nil? == false  %>
                        <%= render "songs/video_control", song: song %>
                      <% else %>
                        <p>no audio</p>
                      <% end %>
                    </td>


                    <!-- End links on rows -->



                    <td class="tableLink">
                      <% if song.dollar == false %>
                        <%= link_to "enquire",  new_song_booking_path(song), id: "enquire" %>
                      <% end %>

                      <% if song.dollar == true %>
                        <%= link_to line_items_path(:song_id => song.id), method: :post do %>
                        <%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1615423829/001-cart_cfrbrc.svg", width: 25, height: 25, alt: 'a face that is unnervingly happy'%>
                        <% end %>
                      <% end  %>

                    </td>



                    <td class="tableLink">
                      <%= link_to "info", song_path(song.id), class: "viewSonglink" %>
                    </td>

                    <td class="tableLink">
                    <% if current_user.favorited?(song) %>
                      <% favorite = current_user.all_favorites.where(favoritable_id: song.id, favoritable_type: 'Song') %>
                      <%= link_to unfavorite_song_path(song), method: :delete, class: "favButton" do %>
                      <%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1615876602/heartfull_myjghr.svg", width: 20, height: 20%>
                      <% end %>
                    <% else %>
                      <%= link_to favorite_song_path(song), method: :post, class: "favButton" do %>
                     <%= image_tag "https://res.cloudinary.com/dck5uyfgr/image/upload/v1615876602/heartempty_pwwdxj.svg", width: 20, height: 20%>
                    <% end %>
                    <% end %>

                    </td>

                    </tr>

                    <% end %>
                    <% end %>

                  </tbody>
                </table>


    </div>

  </div>
</div>

