<h1>Song#show</h1>
<p>Find me in app/views/song/show.html.erb</p>

<h4>  Song Title: <%= @song.name %></h4>


<% if @song.audio.key.nil? == false  %>
  <%= cl_video_tag @song.audio.key, controls: true, style: "width: 25%; height:35px; " %>
<% end %>
<% if @song.dollar == true  %>
 Available for outright purchase man! $<%=@song.price  %>
<%  else  %>
 This ones on a royalty deal for <%=  @song.price  %> % of the sweet cash you make off it
<% end %>

<% if current_user.id == @song.user_id %>
<p> you own this song </p>
 <%  if current_user.photo.key.nil? == false %>
   <%= cl_image_tag current_user.photo.key, margin: 0 -16, height: 400, width: 450, radius: 8, crop: :fill %>
  <% end %>
<% end %>




<p> <%= @song.lyrics %></p>

<p> By: <%= @song.user.first_name %> <%= @song.user.last_name %>  </p>
<p> Known as: <%= @song.user.nickname %></p>
<p> Artist-desc:  <%= @song.user.description %></p>

<p> Artist-cred: <%= @song.user.cred %></p>

    <%= link_to "start new chat", chatrooms_path(chatroom: {user_id: @song.user_id}), method: :post %>  