<div class="container">
  <div class="row">
    <div class="col-6">
    <br>
    <h1><%= @song.name %></h1>

    <p><% if @song.audio.key.nil? == false  %>
      <%= cl_video_tag @song.audio.key, controls: true, style: "width: 25%; height:35px; " %>
      <% end %>
    </p>

   <% if @song.audio.key.nil? == false  %>

                <%= render "songs/video_control", song: @song %>
              <% else %>
                <p>no audio</p>
              <% end %>
  <p>
      Cost:
      <% if @song.dollar == true  %>
      Available for outright purchase man! $<%=@song.price  %>
      <%  else  %>
      This ones on a royalty deal for <%=  @song.price  %> % of the sweet cash you make off it
      <% end %>
    </p>

    <p> Lyrics: <%= @song.lyrics %></p>

    <% if current_user.id == @song.user_id %>
      <%= link_to "edit", edit_song_path(@song), class: "btn btn-warning" %>
    <% end %>
    
    <% if @song.user != current_user %>
      <%= link_to "Start Haggling", chatrooms_path(chatroom: {user_id: @song.user_id}),  class: "btn btn-success", method: :post %> 
       <h1><%# link_to "Stop haggling!", chatroom_path(@chatroom), class: "btn btn-danger", method: :delete, data: { confirm: "Are you sure? All haggle messages will be lost?" } %></h1> 
    <% end %>  
  </div>

  <div class="col-6 artist_title">
    <span class = "title">
      <h4 style ="margin: 20px 0px;"> By: <%= @song.user.nickname %> </h4> 
      <%=  cl_image_tag "lxglqrvux6hmfuigbwns", width: 50, height: 50, crop: :fill    %>  <!--4th lvl cred  -->
    </span> 

    <div class="artist_box" >

        <div >     
           
          <% if current_user.photo.key.nil? == false %>
              <p>  <%=  cl_image_tag @song.user.photo.key, margin: 0 -16, background: "black", height: 200, width: 200, radius: 8, crop: :fill  %> </p>
            <% end %>
           <%#  cl_image_tag "yr2zm33cbyrdxidbz6bg", width: 100, height: 100, crop: :fill    %>  <!--max cred -->
        </div> 

        <div class ="user_desc">
          <%=   @song.user.description  %>
        </div> 
      
      </div>

    <div class="songs" style = "text-align:center">
      <p> Songs currently available: </p>
      <ul>
      <% @song.user.songs.each do |song| %>
      <li>
      <% if song.state == "available" %>
        <%= song.name %>    
          <% if song.dollar == true  %>
            <p>  Buyout Price $<%=song.price  %> 
          <%  else  %>
            Royalty <%  song.price  %> %  </p>    
        <% end %>
      <% end %>
      </li>
     <% end %> 
    </div>
  </div>
  
  </div>
 
  <%=  cl_image_tag "dqsjezd716s3vqpysp1u", width: 100, height: 100, crop: :fill    %>  <!--min cred -->
  <%=  cl_image_tag "bi7cunh0wb8e37eonpuh", width: 100, height: 100, crop: :fill    %>  <!--2nd lvl cred  -->
  <%=  cl_image_tag "nwrmwv4pe75urersjexk", width: 100, height: 100, crop: :fill    %>  <!--3rd lvl cred  -->
  <%=  cl_image_tag "lxglqrvux6hmfuigbwns", width: 100, height: 100, crop: :fill    %>  <!--4th lvl cred  -->
  <%=  cl_image_tag "ugwqufxkpjkg1gsbfc5g", width: 100, height: 100, crop: :fill    %>  <!--5th lvl cred  -->
</div>