
<div class= "cartbody">
  
<div class="wrap cf">
  <h1 class="projTitle"> Order Summary</h1>
  <div class="heading cf">
    <%= link_to "Back To Cart", shopping_cart_path(current_user), class: "continue", data: {confirm: "Are you sure?"} %>
  </div>
  <div class="cart">
    <ul class="cartWrap">
    <% @current_cart.line_items.each do |line_item| %>
      <li class="items odd">
        
    <div class="infoWrap"> 
    
        <div class="cartSection">
          <h3><%= line_item.song.name %></h3>
        
           <p>BY: <%= line_item.song.user.nickname %></p>
        
          <p class="stockStatus">locked in for order</p>
        </div>  
    
        
        <div class="prodTotal cartSection">
          <%= number_to_currency(line_item.song.price) %>
        </div>
              <div class="cartSection removeWrap">
          
           
        </div>
        
      </div>
     
      </li>
         <% end %>

 
    </ul>
  </div>
  
  <div class="subtotal cf">
    <ul>
      <li class="totalRow final"><span class="label">Total</span><span class="value"><%= number_to_currency(@current_cart.sub_total) %></span></li>
      <li class="totalRow">           <%= form_tag orders_path do %>
  <%= hidden_field_tag 'song_id', @current_cart %>
  <%= submit_tag 'Submit Order', class: "submit_b" %>
<% end %></li> 
 
    </ul>
  </div>
</div>
