<br>
<div class=container>
  <h2>Order summary</h2>

  <div class="contactDetails">
    <p><%= current_user.first_name %> <%= current_user.last_name %></p>
    <p><%= current_user.email %></p>
  </div>


  <ul>
    <% @current_cart.line_items.each do |line_item| %>
      <li class= "lineItemStyling">
        <div>
        Item: <%= line_item.song.name %>
        </div>
        <div>
        Price: <%= number_to_currency(line_item.song.price) %>
        </div>
        </li>
    <% end %>
  </ul>

  <h3>Total: <%= number_to_currency(@current_cart.sub_total) %></h3>

  <br>

  <div class="container-flex">
    <div class="formlinks">
      <%= form_tag orders_path do %>
  <%= hidden_field_tag 'song_id', @current_cart %>
  <%= submit_tag 'Submit Order', class: 'btn btn-primary' %>
<% end %>
      <%= link_to "Back To Cart", shopping_cart_path(current_user)%>
    </div>
  </div>

</div>

